{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <section>
        <p>Oficilamente a Fórmula 1 foi criada a 1950 pela FIA(Federação Internacional de Automobilismo). A prova inaugural do campeonato foi realizado em Inglaterra no circuito de Silverstone.
            A prova realizou-se a uma sábado, 13 de Maio de 1950, para não coincidir com um culto religioso.
            A prova teve público de 100.000 pessoas e contou com a presença do Rei George VI, a Rainha Elizabeth e a princesa Margareth.O campeonato anunciado tinha 6 Grandes Prêmios na Europa: Inglaterra, Mônaco, Suíça, Bélgica, França e Itália.
            Ainda foi adicionado o resultado das 500 Milhas de Indianápolis, para se tornar num campeonato mundial. No final da década de 50, o número de corridas passou de 6 para 11.
            No início da Fórmula 1, os principais pilotos representavam a Alfa Romeo, a Ferrari e a Maserati.
            Em 1954, a Mercedes-Benz retornou ao esporte com um carro perfeito que deu a Juan Manuel Fangio 2 títulos, consagrando o piloto tricampeão mundial.</p>
    </section>
{% endblock %}